
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01050F;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: #F7DCB8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 5s ease-in, 4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.breathing-text {
    position: absolute;
    margin: auto;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #01050F;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 2;
}

.buttons {
    position: absolute;
    gap: 10px;
}

.buttons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#mute-btn {
    position: absolute; 
    margin-left: -15px;
    padding: 0;
    z-index: 2;
    margin-top: 35px;
}
#phrase {
    color: #F7DCB8;
    display: flex;
    position: absolute;
    top: 75%;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
